:root {
    --color-alura: #051932;
    --color-pomb-and-power: #7c5e99;
    --color-floral-white: #fffcee;
    --color-fiery-rose: #f25a70;
    --color-sandstorm: #F5D547;
    --color-arsenic: #3A4042;
    --color-old-silver: #828282;
    --color-eggshell: #EAE6DA;
    --color-cardinal: #BA1F33;
    --color-mantis: #62C370;
}